.card-container {
  z-index: 1;
}
.catalog-img {
  width: 1200px;
  height: 500px;
  background-image: url('../../img/catalog.png');
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 22rem;
  left: 2rem;
}

.card-container h1 {
  font-weight: 700;
  font-size: 36px;
  position: relative;
  bottom: 12rem;
  text-align: center;
  color: #212121;
}

.ul-list {
  width: 1200px;
  margin: auto;
  margin-left: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.list-item {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: 3px solid #d7b399;
  padding: 10px;
}

.list-item h3 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.list-item p {
  font-weight: 700;
  font-size: 18px;
  color: #d7b399;
}

.button-model {
  margin-top: 100px;
  width: 220px;
  height: 55px;
  border: none;
  background-color: #d7b399;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discounts {
  font-weight: 700;
  font-size: 36px;
  position: relative;
  bottom: 100px;
}
