@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.container1 {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #f9f6f1; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.first-screen-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}

.first-screen-text h3 {
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}

.first-screen-text h1 {
  font-weight: 700;
  font-size: 55px;
  color: #000000;
}

.first-screen-text input {
  width: 240px;
  height: 55px;
  background-color: #d7b399;
  color: aliceblue;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.first-screen-image {
  display: flex;
  flex-direction: row;
}

.first-text {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 9rem;
  bottom: 5rem;
}

.first-text span {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.first-text strong {
  font-weight: 700;
  font-size: 42px;
  color: #d84033;
}
