.page2-cotainer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  background-color: #212121;
  width: 1500px;
  height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
}

.page2-cotainer h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
}

.page2-cotainer span {
  font-weight: 300;
  color: #ffffff;
  font-size: 21px;
}

.КОЛЛЕКЦИЯ {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ strong {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ p {
  font-weight: 300;
  color: black;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ span {
  position: absolute;
  top: 4rem;
  color: black;
  font-weight: 300;
  font-size: 16px;
  width: 264px;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ input {
  width: 80px;
  height: 30px;
  position: relative;
  top: 6rem;
  background-color: #d7b399;
  color: #ffffff;
  font-size: 20px;
  border: none;
}

.МУЖСКАЯ-КОЛЛЕКЦИЯ img {
  position: relative;
  width: 400px;
  top: 2rem;
  left: 5rem;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ {
  top: 1.1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ strong {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ p {
  font-weight: 300;
  color: black;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ span {
  position: absolute;
  top: 4rem;
  color: black;
  font-weight: 300;
  font-size: 16px;
  width: 264px;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ input {
  width: 80px;
  height: 30px;
  position: relative;
  top: 6rem;
  background-color: #d7b399;
  color: #ffffff;
  font-size: 20px;
  border: none;
}

.ЖЕНСКАЯ-КОЛЛЕКЦИЯ img {
  position: relative;
  width: 320px;
  top: 2rem;
  left: 10rem;
}

.СКИДКИ-И-ПОДАРКИ {
  margin-top: 10rem;
  width: 1300px;
  margin-bottom: 10rem;

  background-color: #212121;
  position: relative;
  bottom: 5rem;
}

.ПОДАРКИ {
  width: 1200px;
  height: 180px;

  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ПОДАРКИ h1 {
  font-weight: 700;
  font-size: 30px;
}

.ПОДАРКИ input {
  width: 255px;
  height: 40px;
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 12px;
  padding-left: 20px;
  color: #8d8d8d;
  border-radius: 5px;
}

.ПОДАРКИ button {
  width: 185px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #d7b399;
  border: none;
  border-radius: 5px;
}
